@font-face {
    font-family: "Kanit";
    src: url("assets/fonts/Kanit/Kanit-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Kanit";
    src: url("assets/fonts/Kanit/Kanit-Light.ttf");
    font-weight: 300;
  }

  body {
    box-sizing: border-box;
    background-color: #fff3f3;
  }

  .container-centered {
    max-width: 1440px;
    font-family: 'Kanit';
    font-size: 14px;
    line-height: 1.5;
    background-color: #ffe5ec;
  }

  .two-columns {
    display: flex;
  }
  
  .left-column {
    width: 42%;
  }

  .right-column {
    width: 58%;
  }

  header {
    padding: 20px;
    text-align: center;
  }
  
  header img {
    margin-bottom: 5px;
    border: #ffffff
  }

  header h1 {
    margin-bottom: -15px;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 4px;
    text-transform:uppercase;
  }

  header h2 {
    margin-bottom: 10px;
    font-weight: 400;
    letter-spacing: 4px;
  }

  .divider{
    border: none; 
    border-bottom: 2px solid #000; 
    margin: 20px auto; 
  }
  .nav-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    list-style: none
  }

  .nav-item {
    margin: 5px; 
}

.nav-link {
    font-size: 15px;
    color: #c54b88; 
}
