@font-face {
    font-family: "Kanit";
    src: url("assets/fonts/Kanit-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Kanit";
    src: url("assets/fonts/Kanit-Light.ttf");
    font-weight: 300;
  }

  body {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }